@import url("https://fonts.googleapis.com/css2?family=Share&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-contour {
  background-image: url("../images/contour-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}