---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import Menu from "../components/Menu";
import Footer from "../components/Footer";
import ArtSection from "../components/ArtSection";
---

<div class="bg-contour">
  <Layout title="Bart's Bistro">
    <main class="font-share">
      <Navbar client:load />
      <Menu client:load />
      <ArtSection client:load />
      <Footer />
    </main>
  </Layout>
</div>
